{% set adv_id = app.request.path|split('/')[2] %}
{% set product = getAmazonProduct(adv_id) %}
{% set ad = adDetail(adv_id) %}

<style>
	.details-container-ads {
		display:inline
	}
	.details-container-ads .col-md-6 {
		min-height:50px;
		line-height:50px;
	}
	.amazon-buy-btn {
		width:100%;
	}
</style>


<h3 class="title">{{ ad.title }}</h3>

<div class="container details-container-ads">
	<div class="row">
		<div class="col-md-6 text-left" >
		  <h4>
			  Amazon Puanı
			</h4>
		</div>
		<div class="col-md-6 text-center" >
		  <b>{{ product.rank }}</b>
		</div>
	  </div>
	<div class="row">
		<div class="col-md-6 text-left">
		  <h4>
			  Amazon Yorum Sayısı
			</h4>
		</div>
		<div class="col-md-6 text-center">
		  <b>{{ product.comments }}</b>
		</div>
	  </div>
	<div class="row">
		<div class="col-md-6 text-left">
			<h4>
				Pandepo Puanı
			</h4>
		  
		</div>
		<div class="col-md-6 text-center">
		  <b>{{ product.rank_pandepo }}</b>
		</div>
	</div>
	<!-- Satın al Butonu Başlangıcı-->
<a href="{{ product.detailLink }}" class="btn btn-primary amazon-buy-btn"><i class="fas fa-shopping-cart"></i> <b>{{ ad.price }}</b> {{ ad.currency }} Satın Al</a>
<!-- Satın al Butonu Bitişi-->
</div>

<div class="social-links">
    <h4>{{ trans('visiosoft.module.advs::field.share') }}</h4>
    <ul class="list-inline">
        <li><a target="_blank"
               href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.uri }}"><i
                        class="fab fa-facebook-square"></i></a></li>
        <li><a target="_blank"
               href="https://twitter.com/intent/tweet?text={{ app.request.uri }}"><i
                        class="fab fa-twitter-square"></i></a></li>
        <li><a target="_blank" href="https://wa.me/?text={{ app.request.uri }}"><i
                        class="fab fa-whatsapp"></i></a></li>
        <li><a target="_blank"
               href="https://www.linkedin.com/shareArticle?mini=true&url={{ app.request.uri }}"><i
                        class="fab fa-linkedin"></i></a></li>
    </ul>
</div>
