{% set adv_id = app.request.path|split('/')[2] %}
{% set product = getAmazonProduct(adv_id) %}
{% set path_url = parse_url(product.detailLink)['path'] %}
<div class="description-info">
    <div class="row">
        <!-- description -->
        <div class="col-md-6">
            <div class="description">
				<h3>
					Açıklama
				</h3>
                            {{ product.description|raw }}
			</div>
		</div>
		<div class="col-md-6">
            <div class="description other-shop">
				<h3>
					Diğer Amazon Mağazaları
				</h3>
				{% if product.product_co_uk_id != 0 %}
				<div class="row">
					<div class="col-md-6">
						<h4>
							<a href="{{ url('/advs/adv/'~product.product_co_uk_id) }}">Amazon İngiltere</a>
						</h4>
					</div>
					<div class="col-md-6">
						<h4>
							{% set adv = adDetail(product.product_co_uk_id) %}
							{{ adv.price }} {{ adv.currency }}
						</h4>
					</div>
				</div>
				{% endif %}
				{% if product.product_fr_id != 0 %}
				<div class="row">
					<div class="col-md-6">
						<h4>
							<a href="{{ url('/advs/adv/'~product.product_fr_id) }}">Amazon Fransa</a>
						</h4>
					</div>
					<div class="col-md-6">
						<h4>
							{% set adv = adDetail(product.product_fr_id) %}
							{{ adv.price }} {{ adv.currency }}
						</h4>
					</div>
				</div>
				{% endif %}
				{% if product.product_ca_id != 0 %}
				<div class="row">
					<div class="col-md-6">
						<h4>
							<a href="{{ url('/advs/adv/'~product.product_ca_id) }}">Amazon Canada</a>
						</h4>
					</div>
					<div class="col-md-6">
						<h4>
							{% set adv = adDetail(product.product_ca_id) %}
							{{ adv.price }} {{ adv.currency }}
						</h4>
					</div>
				</div>
				{% endif %}
				{% if product.product_co_jp_id != 0 %}
				<div class="row">
					<div class="col-md-6">
						<h4>
							<a href="{{ url('/advs/adv/'~product.product_co_jp_id) }}">Amazon Japonya</a>
						</h4>
					</div>
					<div class="col-md-6">
						<h4>
							{% set adv = adDetail(product.product_co_jp_id) %}
							{{ adv.price }} {{ adv.currency }}
						</h4>
					</div>
				</div>
				{% endif %}
				{% if product.product_com_id != 0 %}
				<div class="row">
					<div class="col-md-6">
						<h4>
							<a href="{{ url('/advs/adv/'~product.product_com_id) }}">Amazon Amerika</a>
						</h4>
					</div>
					<div class="col-md-6">
						<h4>
							{% set adv = adDetail(product.product_com_id) %}
							{{ adv.price }} {{ adv.currency }}
						</h4>
					</div>
				</div>
				{% endif %}
				{% if product.product_de_id != 0 %}
				<div class="row">
					<div class="col-md-6">
						<h4>
							<a href="{{ url('/advs/adv/'~product.product_de_id) }}">Amazon Almanya</a>
						</h4>
					</div>
					<div class="col-md-6">
						<h4>
							{% set adv = adDetail(product.product_de_id) %}
							{{ adv.price }} {{ adv.currency }}
						</h4>
					</div>
				</div>
				{% endif %}
				{% if product.product_it_id != 0 %}
				<div class="row">
					<div class="col-md-6">
						<h4>
							<a href="{{ url('/advs/adv/'~product.product_it_id) }}">Amazon İtalya</a>
						</h4>
					</div>
					<div class="col-md-6">
						<h4>
							{% set adv = adDetail(product.product_it_id) %}
							{{ adv.price }} {{ adv.currency }}
						</h4>
					</div>
				</div>
				{% endif %}
				
				{% if product.product_au_id != 0 %}
				<div class="row">
					<div class="col-md-6">
						<h4>
							<a href="{{ url('/advs/adv/'~product.product_au_id) }}">Amazon Australia</a>
						</h4>
					</div>
					<div class="col-md-6">
						<h4>
							{% set adv = adDetail(product.product_au_id) %}
							{{ adv.price }} {{ adv.currency }}
						</h4>
					</div>
				</div>
				{% endif %}
				
				{% if product.product_com_br_id != 0 %}
				<div class="row">
					<div class="col-md-6">
						<h4>
							<a href="{{ url('/advs/adv/'~product.product_com_br_id) }}">Amazon Brasil</a>
						</h4>
					</div>
					<div class="col-md-6">
						<h4>
							{% set adv = adDetail(product.product_com_br_id) %}
							{{ adv.price }} {{ adv.currency }}
						</h4>
					</div>
				</div>
				{% endif %}
				
				{% if product.product_cn_id != 0 %}
				<div class="row">
					<div class="col-md-6">
						<h4>
							<a href="{{ url('/advs/adv/'~product.product_cn_id) }}">Amazon China</a>
						</h4>
					</div>
					<div class="col-md-6">
						<h4>
							{% set adv = adDetail(product.product_cn_id) %}
							{{ adv.price }} {{ adv.currency }}
						</h4>
					</div>
				</div>
				{% endif %}
				
				{% if product.product_com_mx_id != 0 %}
				<div class="row">
					<div class="col-md-6">
						<h4>
							<a href="{{ url('/advs/adv/'~product.product_com_mx_id) }}">Amazon Mexico</a>
						</h4>
					</div>
					<div class="col-md-6">
						<h4>
							{% set adv = adDetail(product.product_com_mx_id) %}
							{{ adv.price }} {{ adv.currency }}
						</h4>
					</div>
				</div>
				{% endif %}
				
				{% if product.product_es_id != 0 %}
				<div class="row">
					<div class="col-md-6">
						<h4>
							<a href="{{ url('/advs/adv/'~product.product_es_id) }}">Amazon Spain</a>
						</h4>
					</div>
					<div class="col-md-6">
						<h4>
							{% set adv = adDetail(product.product_es_id) %}
							{{ adv.price }} {{ adv.currency }}
						</h4>
					</div>
				</div>
				{% endif %}
				
				{% if product.product_ae_id != 0 %}
				<div class="row">
					<div class="col-md-6">
						<h4>
							<a href="{{ url('/advs/adv/'~product.product_ae_id) }}">Amazon United Arab Emirates</a>
						</h4>
					</div>
					<div class="col-md-6">
						<h4>
							{% set adv = adDetail(product.product_ae_id) %}
							{{ adv.price }} {{ adv.currency }}
						</h4>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
		
	</div>

